*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: rgb(72, 72, 228);
    display:flex;
    justify-content: center;
}


.calculator {
    margin-top: 30px;
    display: flex;
    width: 450px;
    height: 560px;
    background-color: rgb(40, 40, 40);
    flex-direction: column;
    border: 5px solid rgb(60, 61, 60);
    border-radius: 5px;
}

.header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 2px solid rgb(61, 60, 60);

}

.appops {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 40px;
    color: rgb(188, 188, 189);
}

.appop {
    margin-left: 20px;
}

.btncontainer {
    display: flex;
    background-color: rgb(40, 40, 40);
    flex-wrap: wrap-reverse;
}

.btn {
    width: calc(100%/4);
    height: 80px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 10px;
}

.btnblank {
    background-color: rgb(21, 21, 21);
    border: 0px;
}



.btnnum {
    background-color: rgb(190, 186, 186);
}

.btnnum:hover {
    background-color: rgb(154, 154, 154);
}



.btnops {
    background-color: rgb(87, 87, 87);
}

.btnops:hover {
    background-color: rgb(107, 107, 107);
}



.buttonequals {
    background-color: rgb(255, 255, 255);
}

.buttonequals:hover {
    background-color: rgb(225, 225, 225);
}



.display {
    text-align: right;
    margin: 5px;
    font-size: 30px;
    color:white;
}

.appname {
    text-align: left;
    color: grey;
    margin-left: 5px;
}

/* .buttondot {
    background-color: rgb(190, 186, 186);
}

.buttondot:hover {
    background-color: rgb(154, 154, 154);
} */